@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome ao Seu Sonho.</h1>
    <p>Sua Casa Dos Sonhos, Construida em cada Detalhe.</p>
    <span>Seu Email é: @Model.Email</span> 
